<div id="backline">
    <div id="foreline"></div>
</div>
<div class="btn-toolbar">
    <div class="btn-group">
        <audio id="audio" controls style="width: 500px;position: relative;top: 10px"></audio>
        <button id="record" style="height: 30px;width: 70px;background-color: #87ceff">录制</button>
        <button id="stop" disabled style="height: 30px;width: 70px;background-color: #87ceff">停止</button>
        <button id="play" style="height: 30px;width: 70px;background-color: #87ceff">播放</button>
    </div>
    <div id="windowConBtnGro"  class="btn-group">
        <button id="doubleWinBtn" class="btn">双窗口</button>
        <button id="singleEditerBtn" class="btn">编辑器</button>
        <button id="singleWBoardBtn" class="btn">白板</button>
        <button id="fullscreenBtn" class="btn">全屏</button>
    </div>
</div>
<span id="clock" style="position: absolute;margin-left: 480px">0</span>
<textarea id="editor" rows="10" cols="32"></textarea>
<textarea id="whiteboard" rows="10" cols="32"></textarea>

