<div id="backline">
    <div id="foreline"></div>
</div>
<div class="btn-toolbar">
    <div class="btn-group">
        <button id="record">record</button>
        <button id="stop">stop</button>
        <button id="play">play</button>
    </div>
    <div id="windowConBtnGro"  class="btn-group">
        <button id="doubleWinBtn" class="btn">双窗口</button>
        <button id="singleEditerBtn" class="btn">编辑器</button>
        <button id="singleWBoardBtn" class="btn">白板</button>
        <button id="fullscreenBtn" class="btn">全屏</button>
    </div>
</div>
<span id="clock" style="position: absolute;margin-left: 480px">0</span>
<textarea id="editor" rows="10" cols="32"></textarea>
<textarea id="whiteboard" rows="10" cols="32"></textarea>

