<div id="backline">
    <div id="foreline"></div>
</div>
<div class="btn-toolbar">
    <audio id="audio" controls style="width: 500px;position: relative;top: 15px"></audio>
    <div class="btn-group" style="position: relative;left: 10px">
        <button id="record" class="btn">录制</button>
        <button id="stop" disabled class="btn">停止</button>
        <button id="play" class="btn">播放</button>
    </div>
    <div id="windowConBtnGro"  class="btn-group">
        <button id="doubleWinBtn" class="btn">双窗口</button>
        <button id="singleEditerBtn" class="btn">编辑器</button>
        <button id="singleWBoardBtn" class="btn">白板</button>
        <!--<button id="fullscreenBtn" class="btn">全屏</button>-->
    </div>
</div>
<span id="clock" style="position: relative">0</span>

