<div id="whiteboard">
    <div id="menu">
        <button id="penButton" class="menuButton btn-info glyphicon glyphicon-pencil"></button><button id="penMenu" class="downMenu btn-info glyphicon glyphicon-triangle-bottom"></button>
        <button id="textButton" class="menuButton btn-info glyphicon glyphicon-text-color"></button><button id="textMenu" class="downMenu btn-info glyphicon glyphicon-triangle-bottom"></button>
        <button id="imageButton" class="menuButton btn-info glyphicon glyphicon-picture"></button><button id="imageMenu" class="downMenu btn-info glyphicon glyphicon-triangle-bottom"></button>


        <button id="clearButton" class="menuButton btn-info glyphicon glyphicon-remove"></button>
        <button id="redoButton" class="menuButton btn-info glyphicon glyphicon-menu-right"></button>
        <button id="undoButton" class="menuButton btn-info glyphicon glyphicon-menu-left"></button>
    </div>
    <div id="quickAddMenu">
        <input id="add" type="text"/>
        <button id="aboutButton" class="btn btn-primary">说明</button>
        <button id="addButton" class="btn btn-primary">添加</button>
    </div>
    <div id="mainBoard">
        <div id="graphBoard"></div>
    </div>
</div>