<div id="whiteboard">
    <div id="menu">
        <button id="penButton" class="menuButton"></button><button id="penMenu" class="downMenu"></button>
        <button id="textButton" class="menuButton"></button><button id="textMenu" class="downMenu"></button>
        <button id="imageButton" class="menuButton"></button><button id="imageMenu" class="downMenu"></button>


        <button id="clearButton" class="menuButton"></button>
        <button id="redoButton" class="menuButton"></button>
        <button id="undoButton" class="menuButton"></button>
    </div>
    <div id="quickAddMenu">
        <input id="add" type="text"/>
        <button id="aboutButton">说明</button>
        <button id="addButton">添加</button>
    </div>
    <div id="mainBoard">
        <div id="graphBoard"></div>
    </div>
</div>