<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Super Awesome</title>

<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<script type = "text/javascript" src="/scripts/jquery-1.11.2.min.js"></script>

<style>
    body    { padding-top:50px; }
</style>