<% include globalView/header.ejs %>
<!--..放单独需要的CSS -->
<% include globalView/mainNavbar.ejs%>

<div id="container" class="container">
<form class="form-horizontal" method="post" >
        <legend>用户注册</legend>
        <div class="form-group" >
            <label class="col-sm-2 col-md-2 control-label" for="username" >用户名 </label>
            <div class="col-sm-10 col-md-3" >
                <input type="text" class="form-control" id="username" name="username" placeholder="Email" >
                <span id="helpBlock" class="help-block">你的账户名称，用于登录和显示。</span>
            </div>
        </div>
        <div class="form-group" >
            <label class="col-sm-2 col-md-2 control-label" for="password" >密码</label>
            <div class="col-sm-10 col-md-3" >
                <input type="password" class="form-control" id="password" name="password" placeholder="password">
            </div>
        </div>
        <div class="form-group" >
            <label class="col-sm-2 col-md-2 control-label" for="password-repeat" >重复输入密码</label>
            <div class="col-sm-10 col-md-3" >
                <input type="password" class="form-control" id="password-repeat"
                       name="password-repeat" placeholder="password-repeat">
            </div>
        </div>
        <div class="form-group" >
            <div class="col-md-3">
               <button type="submit" class="btn btn-primary col-md-offset-9 " >注册</button>
            </div>
        </div>
    </fieldset>
</form>

</div>
</div>
</body>

<% include globalView/footer.ejs %>
<!-- ..放单独需要的JS -->

</body>
</html>
