<% include globalView/header.ejs %>
<!--..放单独需要的CSS -->
<link rel="stylesheet" href="dist/themes/default/style.css" />

<% include globalView/mainNavbar.ejs%>

<div id="container" class="container" xmlns="http://www.w3.org/1999/html">
    <form class="form-horizontal">
        <fieldset>
        <legend>上传习题</legend>
        <div class="form-group">
            <label class="col-sm-2 col-md-3 control-label" for="pname" >题目名称 </label>
            <div class="col-sm-10 col-md-7" >
                <input type="text" class="form-control" id="pname" name="pname" placeholder="Practice Name" >
            </div>
        </div>
        <div class="form-group" >
            <label class="col-sm-2 col-md-3 control-label" for="pdescrip" >题目描述 </label>
            <div class="col-sm-10 col-md-7" >
                <textarea class="form-control" rows="5" id="pdescrip" name="pdescrip" placeholder="Practice Description" ></textarea>
            </div>
        </div>
        <div class="form-group" >
            <label class="col-sm-2 col-md-3 control-label" for="pinputformat" >输入格式 </label>
            <div class="col-sm-10 col-md-7" >
                <textarea class="form-control" rows="5" id="pinputformat" name="pinputformat" placeholder="Practice InputFormat" ></textarea>
            </div>
        </div>
        <div class="form-group" >
            <label class="col-sm-2 col-md-3 control-label" for="poutputformat" >输出格式 </label>
            <div class="col-sm-10 col-md-7" >
                <textarea class="form-control" rows="5" id="poutputformat" name="poutputformat" placeholder="Practice OutputFormat" ></textarea>
            </div>
        </div>
            <div class="col-md-10 col-md-offset-1">
                <div class="divider-horizontal"></div>
            </div>
        <div id="practiceFormatList">
            <div class="practiceFormat">
                <div class="form-group" >
                    <label class="col-sm-2 col-md-3 control-label" for="" id="pformat1">样例1</label>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 col-md-3 control-label" for="pinputformat1" >输入样例1</label>
                    <div class="col-sm-10 col-md-7" >
                        <textarea class="form-control" rows="5" id="pinputformat1" name="pinputformat1" placeholder="Practice InputFormat" ></textarea>
                    </div>
                </div>

                <div class="form-group" >
                    <label class="col-sm-2 col-md-3 control-label" for="poutputformat1" >输出样例1</label>
                    <div class="col-sm-10 col-md-7" >
                        <textarea class="form-control" rows="5" id="poutputformat1" name="poutputformat1" placeholder="Practice OutputFormat" ></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group" >
            <label class="col-sm-2 col-md-3 control-label" for="" ></label>
            <div class="col-md-3">
                <button class="btn btn-primary" id="addFormat" >添加样例</button>
            </div>
        </div>
        <div class="form-group" >
            <label class="col-sm-2 col-md-3 control-label" for="" ></label>
            <div class="col-md-7">
                <button id="showDir" class="btn btn-primary pull-right" data-toggle="modal" data-target="#practiceTreeModel">上传</button>
            </div>
        </div>
        <div class="form-group hidden" >
            <input id="hiddenFormatLength" name="hiddenFormatLength" type="text" class="form-control" >
            <input id="hiddenParentID" name="hiddenParentID" type="text" class="form-control" >
            <button id="hideSubmitBtn" name=""  type="submit" class="btn btn-default" formmethod="post"></button>
        </div>
        </fieldset>
    </form>

    <!-- Modal -->
    <div class="modal fade" id="practiceTreeModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">选择存储文件夹</h4>
                </div>
                <div class="modal-body">
                    <div id="jstreeOfPractice">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button id="save" type="button" class="btn btn-primary disabled">保存</button>
                </div>
            </div>
        </div>
    </div>

</div>
</div>

<% include globalView/footer.ejs %>
<!-- ..放单独需要的JS -->
<script src="dist/jstree.js"></script>

<script type="text/javascript">
    $('#hiddenFormatLength').val(1);
    $('#addFormat').on('click',function(e) {
        e.preventDefault();

        var len=parseInt($('#hiddenFormatLength').val())+1;
        var wholediv=$('<div>',{'class':'practiceFormat'});
        var firstgroup=$('<div>',{'class':'form-group'}).append($('<label>').addClass('col-sm-2 col-md-3 control-label').attr('id','pformat'+len).text('样例'+len));
        var secondgroup=$('<div>',{'class':'form-group'}).append($('<label>').addClass('col-sm-2 col-md-3 control-label').attr('for','pinputformat'+len).text('输入样例'+len))
                .append($('<div>').addClass('col-sm-10 col-md-7').append($('<textarea>').addClass('form-control').attr('rows',5).attr('id','pinputformat'+len).attr('name','pinputformat'+len).attr('placeholder','Practice InputFormat')));
        var thirdgroup=$('<div>',{'class':'form-group'}).append($('<label>').addClass('col-sm-2 col-md-3 control-label').attr('for','poutputformat'+len).text('输出样例'+len))
                .append($('<div>').addClass('col-sm-10 col-md-7').append($('<textarea>').addClass('form-control').attr('rows',5).attr('id','poutputformat'+len).attr('name','poutputformat'+len).attr('placeholder','Practice OutputFormat')));

        wholediv.append(firstgroup);
        wholediv.append(secondgroup);
        wholediv.append(thirdgroup);
        $('#practiceFormatList').append(wholediv);
        $('#hiddenFormatLength').val(len);
    });

    $('#showDir').on('click',function(e){
        e.preventDefault();
    });

    $('#save').on('click',function(e){
        e.preventDefault();
        $('#hideSubmitBtn').click();
    })

    $('#hideSubmitBtn').on('click',function(e){

    });

    $(function () {
        $('#jstreeOfPractice')
                .jstree({
                    "core" : {
                        "multiple":false,
                        "animation" : 0,
                        "check_callback" : true,
                        "themes" : {
                            //"stripes" : true ,
                            "dots":false,
                            "variant" : "large"
                        },
//                        'data' : [
//                                { "id" : "ajson1", "parent" : "#", "text" : "Simple root node" },
//                                { "id" : "ajson2", "parent" : "#", "text" : "Root node 2" },
//                                { "id" : "ajson3", "parent" : "ajson2", "text" : "Child 1" },
//                                { "id" : "ajson4", "parent" : "ajson2", "text" : "Child 2" },
//                        ]
                        'data' : {
                            'url' : '/ajaxRequest/getPracticeListForsave',
                            "dataType" : "json",//!important
                            'data' : function (node) {
                                return { 'id' : node.id };
                            }
                        }
                    },
                    'sort' : function(a, b) {
                        return this.get_type(a) === this.get_type(b) ? (this.get_text(a) > this.get_text(b) ? 1 : -1) : (this.get_type(a) >= this.get_type(b) ? 1 : -1);
                    },
                    "types" : {
                        "#" : { "max_children" : 1, "valid_children" : ["default","practice"]},
                        "default" : { "icon" : "glyphicon glyphicon-folder-open","valid_children" : ["default","practice"] },
                        "practice" : { "icon" : "glyphicon glyphicon-file", "valid_children" : [] }

                    },
                    "plugins" : [  "state","types", "wholerow" ]
                })
                .on('select_node.jstree', function (e, data) {
                    e.preventDefault();
                    if(data && data.selected && data.selected.length) {
                        console.log("hi");
                        console.log(data);
                        $('#save').removeClass('disabled');
                        $('#hiddenParentID').val(data.node.id);
                    }
                })
        ;
    });
</script>


</body>
</html>
