<%- include globalView/header.ejs %>
<!--..这里放单独需要的CSS 注意顺序-->
<% include globalView/mainNavbar.ejs%>

<div id="container" class="container">
    <!-- 放置页面内容-->
</div>

<%- include globalView/footer.ejs%>
<!-- ..下面放单独需要的JS，注意顺序 -->

