<%- include globalView/header.ejs %>
<!--..放单独需要的CSS -->
<% include globalView/mainNavbar.ejs%>

<div id="container" class="container">
    <!-- 放置页面内容-->
</div>

<%- include globalView/footer.ejs%>
<!-- ..放单独需要的JS -->

