global
    daemon
    maxconn 256
defaults
    mode http
    timeout connect 10000ms
    timeout client 50000ms
    timeout server 50000ms
    cookie SERVERID insert indirect nocache
frontend http-in
    bind *:8080
    default_backend ojservers
backend ojservers
    server boring_nobel 127.0.0.1:49203 check cookie boring_nobel
    server sleepy_archimedes 127.0.0.1:49202 check cookie sleepy_archimedes
    server loving_turing 127.0.0.1:49204 check cookie loving_turing
listen admin
    bind *:8088
    stats enable