#whiteboard{
    width: 500px;
    height: 625px;
    float: right;
}

#menu{
    width: 500px;
    height: 40px;
    border:solid 1px;
}

#mainBoard{
    width: 500px;
    height: 500px;
    border: solid 1px;
}


.pen{
    cursor: url("../cur/pen.cur"),auto;
}

.eraser{
    cursor: url("../cur/eraser.cur"),auto;
}

.txt{
    cursor: url("../cur/txt.cur"),auto;
}



#graphBoard {
    width: 500px;
    height: 470px;
}

#fileBoard{
    width: 500px;
    height: 150px;
    border: solid 1px;
}

#penButton{
    background-image: url("../img/pen.jpg");
}
#penMenu{
    height: 30px;
    background-image: url("../img/menudown.jpg");
}

#textMenu{
    height: 30px;
    background-image: url("../img/menudown.jpg");
}

#imageMenu{
    height: 30px;
    background-image: url("../img/menudown.jpg");
}

#eraserButton{
    background-image: url("../img/eraser.jpg");
}

#textButton{
    background-image: url("../img/txt.jpg");
}

#imageButton{
    background-image: url("../img/img.jpg");
}

#undoButton{
    float: right;
    background-image: url("../img/undo.jpg");
}

#redoButton{
    float: right;
    background-image: url("../img/redo.jpg");
}

#clearButton{
    float: right;
    background-image: url("../img/clear.jpg");
}



.menuButton{
    margin-top: 5px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
}

#fileList {
    height: 120px;
    overflow: auto;
    white-space: nowrap;
}

#fileList li {
    margin-left: 5px;
    display: inline-block;
}

#aboutButton{
    float: right;
}

#addButton{
    float: right;
}

#add{
    width: 410px;
}



