#editor {
    height: 350px;
    font-size: 12px;
}
#optionPanel{
    font-family: sans-serif;
}
#inputEditor{
    height:150px;
}

#outputEditor{
    height:150px;
}

.debugInfoPanel{
    padding-left: 0;
    padding-right: 0;
    height: 240px;
}




