<!-- zhangliming timeline.css  start -->
#backline {
    width: 100%;
    background-color: #444444;
    height: 8px;
    border:solid 1px #000000;
    position: relative;
    top: 10px;
}
#foreline {
    width: 0.1%;
    background-color: #fa6900;
    height: 8px;
    position: relative;
    top: 10px;
}
<!-- zhangliming timeline.css  end -->

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#subjectName{

}

#playerwholeDiv{
    width: 100%;
    height: 530px;<!-- 这里播放的窗口大小写死了，不利于自适应 -->
    display: inline;
}

#editerDiv{
    width: 59%;
    height: 530px;
    position: relative;
    float: left;
    display: block;
}

.showME{
    width:100%;
    height: 530px;
    background-color: #004444;
}

#whiteboardDiv{
    width: 40%;
    height: 530px;
    position: relative;
    float: right;
    display:block;
}

#doubleWinBtn{

}

#singleEditerBtn{

}

#singleWBoardBtn{

}

#fullscreenBtn{

}

#controlLineDiv{

}

#controlLine #windowConBtnGro{

}

#playerDivider{
    width: 5%;
    float: right;
}



<!--html, body,.container {min-height:100%;height:100%;}-->

<!-- timeline.css_____________________________-->