<!-- zhangliming timeline.css  start -->
#backline {
    width: 100%;
    height: 8px;
    position: relative;
    top: 100px;
}
#foreline {
    width: 0.1%;
    background-color: #fa6900;
    height: 8px;
    border-radius: 5px;
    position: relative;
    left: 1px;
}
<!-- zhangliming timeline.css  end -->

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#subjectName{

}

.indexRecoDiv{
    margin-left: 15px;
}

.indexRecoDiv .recName{
    margin: 0 auto;
    display: inline;
    color: inherit;
}

.indexRecoDiv .indexModuleNameDiv{
    padding-bottom: 5px;
}

.indexRecoDiv .indexModuleNameDiv .indexModuleName{
    display: inline;
}

.indexRecoDiv .recInfo{
    float:  right;
}


#playerwholeDiv{
    width: 100%;
    height: 530px;<!-- 这里播放的窗口大小写死了，不利于自适应 -->
    display: inline;
}

#editerDiv{
    width: 59%;
    height: 530px;
    position: relative;
    float: left;
    display: block;
}

.showME{
    width:100%;
    height: 530px;
    background-color: #004444;
}

#whiteboardDiv{
    width: 40%;
    height: 530px;
    position: relative;
    float: right;
    display:block;
}

#doubleWinBtn{

}

#singleEditerBtn{

}

#singleWBoardBtn{

}

#fullscreenBtn{

}

#controlLineDiv{

}

#controlLine #windowConBtnGro{

}

.displayInline{
    display: inline;
}

.myClassWell{
    height: auto;
}

.myClassImg{
    display: block;
    width: 60%;
    height: 200px;
    float: left;
    vertical-align: baseline;
}

.myClassInfoDiv{
    display: block;
    width: 35%;
    float: right;
    vertical-align: top;
}

#classesMainTab{

}

#allClassesDiv{
    margin-top: 20px;
}

#allTeacherDiv{
    margin-top: 20px;
}

#allClassesContent{
    width: 83.33333333%;
}

.divider-vertical {
    position: relative;
    height: 100px;
    padding: 0 5px;
    /*background: #dddddd;*/
    border-left: 1px solid #dddddd;
    border-right: 1px solid #FFF;
}

.divider-horizontal {
    position: relative;
    width: 100%;
    padding: 3px 0;
    border-top: 1px solid #dddddd;
    border-bottomt: 1px solid #FFF;
}

.mulLevelOf1{

}
.mulLevelOf2{

}

.backTab{

}

#allClass1levelMenu{

}

#allClass2levelMenu{
    display: none;
    margin-left: -10px;
}

#mySubjectControlDiv{

}
#mySubjectInfoDiv{

}

.infoDivImg{
    padding: 30px;
    width: 200px;
    height: 200px;
}

.infoDivButton{
    margin: 2px 0;
}

#infoDivPositionAdjest{
    margin-top: -30px;
}

#contralBtnList{
    padding-top: 10px;
    padding-bottom: 10px;
}

.seachTreeBox{
    box-shadow:inset 0 0 4px #eee;
    width:120px;
    margin:0;
    padding:6px 12px;
    border-radius:4px;
    border:1px solid silver;
    font-size:1.1em;
}


<!--html, body,.container {min-height:100%;height:100%;}-->
