#whiteboard{
    height: 530px;
}

#menu{
    height: 40px;
}

#mainBoard{
    height: 487px;
    overflow-x: hidden;
}

#quickAddMenu{
    width: 1150px;
}

#graphBoard {
    width: 1150px;
    height: 430px;
}

#fileBoard{
    height: 150px;
}

#penButton{
    background-image: url("../img/pen.jpg");
}
#penMenu{
    margin-top: 5px;
    height: 30px;
    background-image: url("../img/menudown.jpg");
}

#textMenu{
    margin-top: 5px;
    height: 30px;
    background-image: url("../img/menudown.jpg");
}

#imageMenu{
    margin-top: 5px;
    height: 30px;
    background-image: url("../img/menudown.jpg");
}

#eraserButton{
    background-image: url("../img/eraser.jpg");
}

#textButton{
    background-image: url("../img/txt.jpg");
}

#imageButton{
    background-image: url("../img/img.jpg");
}


#uploadFileButton{
    margin-top: 5px;
    width: 30px;
    height: 30px;
    left: 115px;
    opacity: 0;
    position: absolute;
}

.file input{
    width: 30px;
}

#undoButton{
    float: right;
    background-image: url("../img/undo.jpg");
}

#redoButton{
    float: right;
    background-image: url("../img/redo.jpg");
}

#clearButton{
    float: right;
    background-image: url("../img/clear.jpg");
}



.menuButton{
    margin-top: 5px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
}

#fileList {
    height: 120px;
    overflow: auto;
    white-space: nowrap;
}

#fileList li {
    margin-left: 5px;
    display: inline-block;
}

#aboutButton{
    float: right;
    width: 13%;
}

#addButton{
    float: right;
    width: 13%;
}

#add{
    width: 68%;
}



