#whiteboard{
    height: 530px;
    border: solid 1px;
}

#menu{
    height: 40px;
}

#mainBoard{
    height: 460px;
    overflow-x: hidden;
}

#quickAddMenu{

}

#graphBoard {
    width: 1150px;
    height: 460px;
}

#fileBoard{
    height: 150px;
}


#penMenu{
    margin-top: 5px;
    height: 30px;

}

#textMenu{
    margin-top: 5px;
    height: 30px;

}

#imageMenu{
    margin-top: 5px;
    height: 30px;
}




.file input{
    width: 30px;
}

#undoButton{
    float: right;

}

#redoButton{
    float: right;

}

#clearButton{
    float: right;
}



.menuButton{
    margin-top: 5px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
}

#fileList {
    height: 120px;
    overflow: auto;
    white-space: nowrap;
}

#fileList li {
    margin-left: 5px;
    display: inline-block;
}

#aboutButton{
    float: right;
    width: 13%;
}

#addButton{
    float: right;
    width: 13%;
}

#add{
    width: 68%;
}



