#editor {
    height: 400px;
    font-size: 12px;
}
#optionPanel{
    width:600px;
    height:30px;
    font-family: sans-serif;
}
#inputEditor{
    border: groove;
    height:150px;
}

#outputEditor{
    border: groove;
    height:150px;
}

.debugInfoPanel{
    padding-left: 0;
    padding-right: 0;
    height: 240px;
}